<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<title> Add Book </title>
<body>
<div th:replace="common/header :: navbar" />

<div class="container">
    <div class="row">
        <form class="form-horizontal" th:action="@{/book/add}" method="post"
              enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block">New Book Information<span style="font-size: small"> * is a
							required field</span>
                </legend>
                <!-- title -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="title">* Title</label>

                    <div class="col-md-8">
                        <input type="text" name="title" class="form-control" id="title"
                               th:value="${book.title}" required="required" placeholder="Title" />
                        <span class="help-block">Title of the book</span>
                    </div>
                </div>

                <!-- author -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="author">*
                        Author</label>
                    <div class="col-md-8">
                        <input type="text" name="author" class="form-control" id="author"
                               th:value="${book.author}" required="required"
                               placeholder="Author" /> <span class="help-block">Author
								of the book</span>
                    </div>
                </div>

                <!-- list price -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="listPrice">List
                        Price</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">$</span> <input
                                th:value="${book.listPrice}" type="number" name="listPrice"
                                class="form-control" id="listPrice" placeholder="List Price" />
                        </div>
                        <span class="help-block">List price of the book</span>
                    </div>
                </div>

                <!-- our price -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="ourPrice">Our
                        Price</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">$</span> <input
                                th:value="${book.ourPrice}" type="number" name="ourPrice"
                                class="form-control" id="ourPrice" placeholder="Our Price" />
                        </div>
                        <span class="help-block">Our price of the book</span>
                    </div>
                </div>

                <!-- description -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Description</label>
                    <div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
                                      id="description" th:value="${book.description}"
                                      placeholder="Description" ></textarea>
                        <span class="help-block">Description of the book</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Add Book</button>
                        <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>